@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url("reset.css");

.wrapper{
	
	min-height: 100%;
	overflow: clip;  
}

.header {
background-color: #F3D1BF;
}
.header__title {
		font-size: 40px;
			font-weight: 800;
			line-height: 150%;
			padding-block: 10px;
			text-align: center;
			color: black;
}
.footer {
	background-color: #e50000;
}
.footer__title {
		font-size: 40px;
			font-weight: 800;
			line-height: 120%;
			padding-block: 10px;
			text-align: center;
			color: black;
}
.main{
	background-color: #28293E;
}
.portfolio {
	font-family: Epilogue, sans-serif;
	padding-bottom: 176px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 15px;
}

.portfolio {
	padding: 92px 0 176px 0;
}

.portfolio__subtitle {
	color: #EF6D58;
		font-size: 16px;
		line-height: 200%;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
}

.portfolio__title {
	font-size: 56px;
		font-weight: 800;
		line-height: 114%;
		letter-spacing: -1px;
		color: #FFF;
		text-align: center;
		margin-bottom: 36px;
}

.menu {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
}
.list{
margin-bottom: 73px;

}
.menu__item {
	font-size: 16px;
		line-height: 200%;
		color: rgba(255, 255, 255, 0.64);
		flex-shrink: 1;
}
.menu__item:not(:last-child){
	margin-right: 60px;
}
.menu__item:hover {
	color: #FFF;
}
.cards-pictures {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 64px;
}


.cards-pictures__item {
position: relative;
border-radius: 6px;
flex-shrink: 1;
flex-basis: 470px;
aspect-ratio: 470 / 416;
}
.cards-pictures__item:nth-of-type(4n+2),
.cards-pictures__item:nth-of-type(4n+3){
	flex-basis: 670px;
	aspect-ratio: 670 / 416;
		flex-shrink: 1;
		
}

@media(max-width: 1195px){
	.cards-pictures__item:nth-of-type(4n+2),
			.cards-pictures__item:nth-of-type(4n+3){
flex-basis: 470px;
	aspect-ratio: 470 / 416;
			}	
				.cards-pictures__item{
					flex-grow: 1;
				}
}

@media(max-width: 735px){
	.portfolio__title{
		font-size: 36px;
		font-weight: 600;
	}
		.portfolio__subtitle{
			font-size: 12px;
		}
		.menu__item{
			font-size: 14px;
		}
}
@media(max-width: 555px){
.list{
	margin-bottom: 35px;
}
.cards-pictures{
	gap: 15px;
	margin-bottom: 32px;
}

}
@media(max-width: 430px){
	.menu{
		gap: 10px;
	}
}
.cards-pictures__item:hover {
	box-shadow: 0 0 5px 5px #FFF;
}
.item__image{
	width: 100%;
	height: 100%;
	border-radius: 6px;
	object-fit: cover;
}
.text-item {
position: absolute;
inset-inline: 48px;
bottom: 60px;
}
.text-item__button {
	font-size: clamp(10px, 2vw, 16px);
		line-height: 200%;
		color: #391400;
		background-color: #fff;
		border-radius: 19px;
		padding: 5px 15px 1px 16px; 
		text-align: center;
		margin-bottom: 28px;
}
.text-item__button:hover {
	box-shadow: 0 0 5px 5px #3A3C56;
	text-decoration: underline;
}
.text-item__title {
		font-size: clamp(24px, 5vw, 40px);
			font-weight: 800;
			line-height: 120%;
			color: #fff;
}
.button{
	margin-bottom: 192px;
}
.button__item{
	border: 1px solid rgba(255, 255, 255, 0.30);
		border-radius: 6px;
		font-size: 14px;
		font-weight: 900;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		max-width: 170px;
		min-height: 48px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
}
.button__item:hover {
	box-shadow: 0 0 5px 5px #3A3C56;
}
.get-started {
		background-color: #FDF0E9;
			border-radius: 6px;
			min-height: 337px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-wrap: wrap;
			margin-bottom: 140px;
				padding-top: 45px;
}
.get-started__cloud-imag {
	position: absolute;
	top: 48px;
	left: 810px;
}
.get-started__icon {
	position: absolute;
		top: -75px;
		left: 50px;
		animation-name: icon-rotate;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
}
@keyframes icon-rotate {
	0% {
		transform: rotate(-45deg);
	}

	50% {
		transform: rotate(45deg);
	}

	100% {
		transform: rotate(-45deg);
	}
}

.text-get-started {
	display: flex;
	max-width: 241.5px;
	flex-direction: column;
	gap: 26px;
	flex-wrap: wrap;
	justify-content: center;
	
}

.text-get-started__subtitle {
	font-size: 16px;
		text-transform: uppercase;
		color: #EF6D58;
		letter-spacing: 3px;
		flex-grow: 1;
		flex-shrink: 1;
}

.text-get-started__title {
	font-size: 24px;
		font-weight: 700;
		line-height: 133%;
		color: #391400;
		flex-grow: 1;
			flex-shrink: 1;
}

.text-get-started__button {
	max-width: 154px;
		min-height: 48px;
		background-color: #EF6D58;
		border-radius: 6px;
		color: #fff;
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		text-align: center;
		padding: 18px 32px 16px 32px;
		flex-grow: 1;
			flex-shrink: 1;
}
.text-get-started__button:hover {
	box-shadow: 0 0 7px 7px #aaa9a9;
}
.get-started__block-imag{
	max-width: 434px;
}
.get-started__woman-imag {
	aspect-ratio: 239 / 396;
	object-fit: cover;
	width: 239px;
	margin-top: -105px;
	max-width: 239px;
		align-items: flex-end;
		position: relative;
		z-index: 3;
}
.get-started__woman-imag img {
	flex: 1 1 239px;
aspect-ratio: 239 / 396;
	object-fit: cover;
}
@media(max-width: 1193px) {
	.get-started {
	justify-content: space-around;
	}
}
@media(max-width: 1125px){
	.get-started {
			justify-content: space-between;
		}
}
@media(max-width: 1123px) {
	.get-started {
		justify-content: center;
	}
	.get-started__cloud-imag{
		position: absolute;
			top: 48px;
			left: 730px;
	}
}
@media(max-width: 1043px){
		.get-started__cloud-imag {
				position: absolute;
				top: 48px;
				left: 675px;
			}
}
@media(max-width: 990px) {
		.button{
			margin-bottom: 110px;
		}
}
@media(max-width: 988px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 48px;
		left: 650px;
	}
}
@media(max-width: 964px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 48px;
		left: 635px;
	}
}
@media(max-width: 948px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 48px;
		left: 630px;
	}
}
@media(max-width: 945px) {
.get-started__woman-imag {
		aspect-ratio: 239 / 396;
		object-fit: cover;
		width: 239px;
		margin-top: 0;
		max-width: 239px;
		align-items: flex-end;
		position: relative;
		z-index: 3;
	}
	.get-started__woman-imag img {
		flex: 1 1 239px;
		aspect-ratio: 239 / 396;
		object-fit: cover;
	}
				.get-started__cloud-imag {
					position: absolute;
					top: 448px;
					left: 32%;
				}
}
@media(max-width: 810px) {
	.get-started {
		margin-bottom: 70px;
	}
}
@media(max-width: 750px){
.get-started__cloud-imag {
		position: absolute;
		top: 715px;
		left: 30.6%;
	}
				.get-started {
					padding-inline: 50px;
					padding-top: 100px;
				}
}
@media(max-width: 700px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 715px;
		left: 29%;
	}
}
@media(max-width: 620px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 715px;
		left: 27%;
	}
}
@media(max-width: 560px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 715px;
		left: 23%;
	}
}
@media(max-width: 555px) {
	.get-started {
		margin-bottom: 50px;
	}
}
@media(max-width: 505px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 715px;
		left: 20%;
	}
}
@media(max-width: 450px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 715px;
		left: 15%;
	}
}
@media(max-width: 400px){
.get-started__block-imag{
	display: none;
	padding-top: 50px;
}
.get-started{
	row-gap: 20px;
}
		.get-started__cloud-imag {
			position: absolute;
			top: 427px;
			left: 11%;
		}
}
@media(max-width: 365px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 427px;
		left: 7%;
	}
}
@media(max-width: 350px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 427px;
		left: 3%;
	}
}
@media(max-width: 325px) {
	.get-started__cloud-imag {
		position: absolute;
		top: 427px;
		left: 1%;
	}
}
@media(max-width: 315px) {
	.get-started__cloud-imag {
		display: none;
	}
}
.events {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	margin-bottom: 65px;
}
@media(max-width: 555px) {
	.events {
		margin-bottom: 35px;
	}

}
.events__subtitle {
	font-size: 16px;
		line-height: 200%;
		color: #EF6D58;
		letter-spacing: 3px;
		text-transform: uppercase;
}

.events__title {
	font-size: 56px;
		font-weight: 800;
		line-height: 114%;
		letter-spacing: -1px;
		color: #fff;
		text-align: center;
}

.cards-events {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
	margin-bottom: 65px;
}
@media(max-width: 555px){
.cards-events{
	row-gap: 15px;
	margin-bottom: 35px;
}
}
@media(max-width: 810px){
	.events__title{
		font-size: 36px;
			font-weight: 600;
	}
		.events__subtitle{
			font-size: 12px;
				line-height: 150%;
		}
}
.carts-dates1 {
	padding: 36px 40px 42px 36px;
	border-radius: 6px;
	border: 1px solid #3A3C56;
	flex: 1 0 30%;
	min-width: 299.6px;
	display: flex;
	flex-direction: column;
}

.top-carts-dates1 {
	margin-bottom: 45px;
}

.top__span-events {
	color: #FFF;
	font-size: 72px;
	font-weight: 800;
	line-height: 111%;
	letter-spacing: -2px;
	margin-right: 17px;
}

.top__title-events {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	line-height: 133%;
	flex-grow: 1;
	margin-bottom: 35px;
	display: inline-block;
}

.top__time-events {
	font-size: 16px;
	color: #fff;
	line-height: 200%;
	background: url(../img/shape.svg) 0 8px /16px no-repeat;
	padding-left: 24px;
}

.low-carts-dates1 {

	border-top: 1px solid #3A3C56;
	padding-top: 45px;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	
}

.low__subtitle-events {
	font-size: 24px;
	color: #FFF;
	font-weight: 700;
	line-height: 134%;
	margin-bottom: 27px;
	
}

.low__text-events {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.64);
	line-height: 200%;
	margin-bottom: 44px;
	flex-grow: 1;
	flex-shrink: 1;
}

.low__button-events {
	font-size: 16px;
	color: #FFF;
	line-height: 200%;
}

.low__button-events:hover {
	text-decoration: underline;
}
.button-events{
display: flex;
justify-content: center;
	margin-bottom: 140px;
}
.button-events__item {
	border: 1px solid rgba(255, 255, 255, 0.30);
	border-radius: 6px;
	font-size: 14px;
	font-weight: 900;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	min-width: 170px;
	min-height: 48px;
	padding: 18px 30px 16px 31px;
}

.button-events__item:hover {
	box-shadow: 0 0 5px 5px #3A3C56;
}
.team-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 65px;
}
@media(max-width: 905px){
	.text-team-top p{
font-size: 12px;
	line-height: 150%;
	}
		.text-team-top h2{
			font-size: 36px;
				font-weight: 600;
		}
		.button-events{
			margin-bottom: 70px;
		}
}
@media(max-width: 555px) {
	.button-events {
		margin-bottom: 35px;
	}
}
@media(max-width: 600px){
.arrow a{
	width: 36px;
		height: 36px;
}
}

@media(max-width: 465px){
	.team-top{
		gap: 30px;
		flex-wrap: wrap;
	}
}
@media(max-width: 420px) {
	.team-top {
		margin-bottom: 35px;
	}
}
.text-team-top {
	display: flex;
	flex-direction: column;
	gap: 25px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: wrap;
}

.text-team-top__span {
	font-size: 16px;
		line-height: 200%;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #EF6D58;

}

.text-team-top__title {
	font-size: 56px;
		font-weight: 800;
		line-height: 114%;
		letter-spacing: -1px;
		color: #FFF;
		flex-grow: 1;
			flex-shrink: 1;
}

.arrow {
	display: flex;
	gap: 16px;
	align-items: flex-end;
}

.arrow__item1 {
	width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid #3A3C56;
		display: flex;
		justify-content: center;
align-items: center;
}

.arrow__item2 {
	width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid #3A3C56;
				display: flex;
					justify-content: center;
					align-items: center;

}
.arrow__item1:hover {
	box-shadow: 0 0 5px 5px #3A3C56;
}

.arrow__item2:hover {
	box-shadow: 0 0 5px 5px #3A3C56;
}
.team-foto {
	display: flex;
	column-gap: 30px;
	row-gap: 50px;
	overflow-x: auto;
	flex-wrap: nowrap;
	margin-bottom: 52px;
}
@media(max-width: 555px) {
	.team-foto{
		row-gap: 25px;
		
	}
	}

.team-cards {
	width: 25%;
	aspect-ratio: 270 / 272;
	min-width: 270px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.item-team-cards {
	width: 100%;
	aspect-ratio: 270 / 272;
		border: 1px solid #3A3C56;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: end;
}

.item-team-cards img {
max-height: 100%;
max-width: 100%;
object-fit: cover;
border-radius: 6px;
}

.text-team-cards {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.text-team-cards__name {
	font-size: 24px;
		font-weight: 700;
		line-height: 133%;
		color: #FFF;
}

.text-team-cards__job-title {
	font-size: 16px;
		font-weight: 400;
		line-height: 200%;
		color: rgba(255, 255, 255, 0.64);
}

.radio {
	display: flex;
		justify-content: center;
		gap: 20px;
		margin-bottom: 180px;
}
@media(max-width: 650px){
	.radio{
		padding-inline: 270px;
	}
}
@media(max-width: 500px) {
	.radio {
		padding-inline: 100px;
	}
}
@media(max-width: 1030px){
	.team-foto{
		margin-bottom: 90px;
	}
		.quotes-info-founder h3{
font-size: 12px;
	line-height: 120%;
		}
				.quotes-info-founder h2{
		font-size: 20px;
			font-weight: 500;
			line-height: 100%;
			margin-bottom: 24px;
				}
.fouder{
	gap: 65px;
}
}
@media(max-width: 965px){
	.quotes-info-founder img{
		display: none;
	}
		.quotes-info-founder h3{
			margin-bottom: 40px;
		}
		.fouder{
			flex-direction: column;
			
		}
}
@media(max-width: 900px) {
	.portfolio {
		padding-bottom: 88px;
		padding-top: 46px;

	}
}
@media(max-width: 555px) {
	.team-foto {
	margin-bottom: 45px;

	}
}
.radio__item {
	width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 1px solid #3A3C56;
}
.radio__item:hover {
	box-shadow: 0 0 5px 5px #3A3C56;
}

.radio__item:visited {
	background-color: #EF6D58;
}

.radio__item--color {
	background-color: #EF6D58;
}
.fouder {
	position: relative;
	display: flex;
	gap: 130px;
	align-items: center;
}
@media(max-width: 965px){
	.fouder{
		gap: 65px;
	}
}

.founder__img{
	position: absolute;
	top: 50px;
	left: 1024px;
	
}
.paig-founder {
	width: 47.5%;
	aspect-ratio: 570 / 448;
		flex-shrink: 1;
		flex-grow: 1;
		object-fit: cover;
		background: url(../img/bitmap10.1.png) 0 0/100% 100% no-repeat;
		display: flex;
		justify-content: center;
		align-items: end;
		border-radius: 6px;
	
}
.paig-founder img{
	width: 82.4%;
	aspect-ratio: 470 / 420;
	object-fit: cover;
	border-radius: 6px;
	flex-shrink: 1;

	
}
.info-founder{
	flex: 1 1 39.1%;
}
.info-founder__title{
	margin-bottom: 44px;
}
.info-founder__title h3 {

	font-size: clamp(10px, 2vw, 16px);
		line-height: 200%;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #EF6D58;
		margin-bottom: 33px;
}
.info-founder{
	position: relative;
	
}
.info-founder__img{
	aspect-ratio: 100 / 80;
	object-fit: cover;
	width: 100%;
	position: absolute;
	top: 10px;
	left: 327px;
}
@media(max-width: 1145px){
	.info-founder__img{
		position: absolute;
			top: 10px;
			left: 317px;
	}
}
@media (max-width: 1133px){
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 307px;
	}
}
@media (max-width: 1123px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 297px;
	}
}
@media (max-width: 1113px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 287px;
	}
}
@media (max-width: 1103px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 277px;
	}
}
@media (max-width: 1093px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 267px;
	}
		.radio {
			margin-bottom: 90PX;
		}
}
@media (max-width: 1083px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 257px;
	}
		.fouder {
			gap: 65px;
		}
}
@media (max-width: 1010px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 247px;
	}
}
@media (max-width: 998px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 237px;
	}
}
@media (max-width: 988px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 227px;
	}
}
@media (max-width: 978px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 217px;
	}
}
@media (max-width: 968px) {
	.info-founder__img {
		position: absolute;
		top: 10px;
		left: 207px;
	}
}
@media (max-width: 963px) {
	.info-founder__img {
	display: none;
	}
}
@media (max-width: 870px) {
	.portfolio{
padding-bottom: 44px;
	}
	
}
@media (max-width: 460px) {
.fouder{
	gap: 30px;
}

}
.info-founder__title h2{
	color: #FFF;
		/* font-size: 40px; */
		font-size: clamp(24px, 5vw, 40px);
		font-weight: 800;
		line-height: 120%;
		position: relative;
		z-index: 2;
		text-wrap: balance;
}

.info-founder__name p{
	font-size: 20px;
		line-height: 160%;
		color: #FFF;
		margin-bottom: 6px;
	
}

.info-founder__name span{
	font-size: 14px;
		color: rgba(255, 255, 255, 0.64);
		line-height: 171%;
}


.dark-theme {
	font-family: Manrope, sans-serif;
	background-color: #141414;
	padding-block: 50px;
	padding-inline: 15px;
	width: 100%;
}

.container-dark-theme {
	max-width: 1700px;
	margin: 0 auto;
	padding-inline: 50px;
	padding-block: 50px;
	border: 1px solid #262626;
	border-radius: 12px;
}

.cards-top-dark{
	display: flex;
	gap: 20px;
	overflow-x: auto;
flex-wrap: nowrap;
}

.dark-cards-top-title {
	margin-bottom: 50px;
}

.dark-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.dark-title__item {
		font-size: 38px;
color: #FFF;
		font-weight: 700;
		line-height: 150%;
		padding-right: 15px;
}

.dark-title__arrows {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0f0f0f;
	border-radius: 12px;
	max-width: 257px;
	height: 88px;
	border: 1px solid #1f1f1f;
	padding: 16px;
	gap: 16px;
}
.dark-arrows__left {
	width: 56px;
	height: 56px;
	padding: 14px;
	background-color: #1a1a1a;
	border-radius: 8px;
	border: 1px solid #1F1F1F;
}
.dark-arrows__left:hover{
	background-color: #e50000;
}
.dark-arrows__right {
		width: 56px;
			height: 56px;
			padding: 14px;
			background-color: #1a1a1a;
			border-radius: 8px;
			border: 1px solid #1F1F1F;
}
.dark-arrows__right:hover {
	background-color: #e50000;
}
.dark-arrows__hyphens {
	display: flex;
	gap: 3px;
	align-items: center;
}
.hyphens__item {
		width: 16px;
			height: 4px;
			border-radius: 100px;
			background-color: #333;
}
.hyphens__item--red {
		width: 23px;
			height: 4px;
			border-radius: 100px;
			background-color: #e50000;
}
.card-top-item {
	flex: 1 1 25%;
	min-width: 240px;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid #262626;
	background-color: #1a1a1a;
}
.card-top-item:hover{
	border: 1px solid #e50000;
}
.dark-card-top {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	
}

.card-page__img {
	aspect-ratio: 320 / 404;
	object-fit: cover;
	width: 100%;
	border-radius: 12px;
}

.dark-card-info{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.time{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #141414;
		max-width: 107px;
		border-radius: 51px;
		border: 1px solid #262626;
		padding: 6px 10px 6px 6px;
}
.time__img{
	flex-basis: 24px;
			flex-shrink: 1;
				flex-grow: 1;
				
}
.time__text {
	color: #999;
		font-size: 16px;
		font-weight: 500;
		line-height: 150%;
		flex-shrink: 1;
		flex-grow: 1;
		flex-basis: 58px;
}

.stars {
	display: flex;
	gap: 4px;
	align-items: center;
	max-width: 147px;
	padding: 6px 10px;
	border-radius: 51px;
	border: 1px solid #262626;
	background-color: #141414;
}
.img-stars{
	display: flex;
	gap: 2px;
}

.img-stars__item {
	width: 18px;
	display: flex;
	
}
.gender-red__img{
	width: 9px;
}
.stars__text {
	color: #999;
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
}

.dark-them-bottom {
		font-family: Manrope, sans-serif;
			background-color: #141414;
			padding-inline: 15px;
		padding-bottom: 50px;
		width: 100%;
}
@media (max-width: 1400px){
.dark-cards-bottom{
	
	gap: 15px;
}

}
@media (max-width: 1020px){

	.dark-title__arrows{
		max-width: 195px;
		height: 65px;
	}
	.dark-title__item{
		font-size: 28px;
	}
	.dark-arrows__left{
		max-width: 42px;
		height: 42px;
		padding: 10.5px;
	}
				.dark-arrows__right {
					max-width: 42px;
					height: 42px;
					padding: 10.5px;
				}
		.dark-arrows__left img{
			width: 21px;
			
		}
				.dark-arrows__right img {
					width: 21px;
				}
		.hyphens__item{
			max-width: 8px;
		}
		.hyphens__item--red{
			max-width: 17px;
		}
}
@media (max-width: 745px){
.container-dark-theme{
	padding-inline: 25px;
	padding-block: 25px;
}
}
@media (max-width: 712px){
	.dark-title__button{
		color: #FFF;
			text-align: center;
			font-size: 15px;
			font-weight: 600;
			line-height: 112.5%;
			border-radius: 8px;
			background-color: #e50000;
			padding: 7.5px 18px;
	}
		.dark-cards-top-title{
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			margin-bottom: 35px;
		}
}

.container-dark-them-bottom {
		max-width: 1700px;
			margin: 0 auto;
			padding-inline: 50px;
			padding-block: 50px;
			border: 1px solid #262626;
			border-radius: 12px;
			position: relative;
}
.dark-title__button{
	color: #FFF;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		line-height: 150%;
		border-radius: 8px;
		background-color: #e50000;
		padding: 10px 24px;
		position: absolute;
		top: -20px;
		left: 50px;
}
.dark-title__button:hover{
box-shadow: 0 0 5px 5px #434343;
}
.dark-cards-bottom {
	display: flex;
	gap: 30px;
flex-wrap: nowrap;
overflow-x: auto;
}

.card-bottom-dark{
	flex: 1 1 20%;
	aspect-ratio: 275 / 342;
	width: 16.1%;
	min-width: 220px;
		background-color: #1a1a1a;
		padding: 30px;
		border: 1px solid #262626;
		position: relative;
		border-radius: 12px;
	
}
.card-bottom-dark:hover {
	border: 1px solid #e50000;
}
.image-dark-bottom-item {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	
}
.image-dark-bottom-item img{
	flex: 0 1 48%;
	aspect-ratio: 105 / 123;
	object-fit: cover;
	width: 48%;
}
@media(max-width: 370px){
.container-dark-them-bottom{
	padding-left: 25px;
}
}
@media(max-width: 345px) {
	.container-dark-them-bottom {
		padding-left: 15px;
	}
}
@media(max-width: 330px) {
	.container-dark-them-bottom {
		padding-left: 7px;
	}
}
.shadow{
width: 86.1%;
height: 73.6%;
aspect-ratio: 237 / 252;
object-fit: cover;
position: absolute;
top: 20px;
left: 15px;

}
.info-dark-bottom-item {
	display: flex;
	justify-content: space-between;
}
.info-dark-bottom-item p{
	color: #FFF;
		font-size: 18px;
		font-weight: 600;
		line-height: 150%;
		padding-right: 10px;
flex: 1 1 67px;
}
.info-dark-bottom-item img{
	max-width: 30px;
	flex: 1 1 30px;
}
.info-dark-bottom-item img:hover{
	background-color: #e50000;
	border-radius: 10px;
}